<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lumbalumbadrt.colortoast.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_color_toast"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_color_toast_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorToast">
        <activity android:name=".toast.ToastSuccessActivity"/>
        <activity android:name=".toast.ToastErrorActivity" />
        <activity android:name=".toast.ToastWarningActivity" />
        <activity android:name=".toast.ToastInfoActivity" />
        <activity android:name="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>